<%= render "shared/header" %>

<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>

<%= link_to new_item_path, class: 'purchase-btn' do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png', size: '185x50', class: "purchase-btn-icon" %>
<% end %>
